
<div class="youtuber-item">

    <%= link_to users_look_path(channel_id: youtuber.channel_id) do %>
      <div class='youtuber-item-main'>
        <div class='youtuber-item-main-icon'>
          <%= image_tag youtuber.icon %> 
        </div>  
        <div class='youtuber-main-content'>
          <div class='youtuber-main-content-title'>
            <%= "#{youtuber.title}" %> 
          </div>
          <div class='youtuber-main-content-subscriber'>
            <%= "チャンネル登録者数 #{youtuber.subscribers}人" %>
          </div>
        </div>
      </div>
    <% end %>

  <div class="youtuber-likes-<%= youtuber.id %> youtuber-btn"> 
    <%= render 'likes/btn', youtuber: youtuber %>
  </div>
</div> 
