<div class="profile">
  <div class="profile-top">
    <div class="profile-top-icon">
      <% if @user.icon.file == nil %>
        <%= image_tag '/user_icon/user_default.jpg' %>
      <% else %> 
        <%= image_tag @user.icon.to_s %> 
      <% end %> 
    </div>

      <div class="profile-name">
        <%= "#{@user.name}" %>
      </div>
      <% if current_user != @user %>
          
        <% if current_user.friend?(@user) || current_user.otherfriend?(@user) %>
          <div class="friend-destroy">
            <%= render 'relationships/destroybtn', user: @user %>
          </div>
          <div class="profile-room-btn">
            <%= link_to 'メッセージを送る', room_path(@room) %>
          </div>
        <% else %>
          <%= render 'friendrequests/btn', user: @user %>
        <% end %>

      <% else %>
        <%= link_to 'フレンド申請一覧', friendrequests_path %>
        <%= link_to 'プロフィールを編集', edit_user_path(current_user) %>
      <% end %>

  </div>

  <div class="profile-content">
    <%= @user.content %>
    
  </div>


  <div class="profile-menu">
    <div class="profile-menu-posts tab menu-open">
      投稿
    </div>
    <div class="profile-menu-favorites tab">
      お気に入り
    </div>
    <div class="profile-menu-friends tab">
      フレンド
    </div>
    <div class="profile-menu-likes tab">
      好きなYouTuber
    </div>
  </div>

  <div class="profile-menu-items">
    <div class="profile-menu-items-contents">
      <div class="posts items item-open">
        <%= render @posts %>
      </div>

      <div class="favorites items">
        <%= render @favorites %>
      </div>

      <div class="friends items">
        <% if @friends.count != 0 %>
          <% @friends.each do |friend| %>
            <%= render "user", user: friend %>
          <% end %>
        <% end %>
      </div>

      <div class="youtubers items">
        <% if current_user == @user %>
          <%= link_to 'YouTuberを追加する', youtubers_path %>
        <% end %>
        <%= render @youtubers %>
      </div>
    </div>
  </div>

</div>

<%= javascript_pack_tag 'tab' %>