
  <div id='room' data-room-id="<%= @room.id %>">

    <div class="room-name">
      <%= "#{@user.name}さん" %>
    </div>

    <div class="messages">
      <%= render @messages %>
    </div>
    
    <div class="message-form">
      <%= form_with(model: current_user.messages.build) do |f| %>
        <%= f.text_area :content, class: "message-text" %>
        <%= f.file_field :image %>
        <%= hidden_field_tag :room_id, @room.id %>
        <%= f.submit '送信' , class: "message-btn" %>
      <% end %>
    </div>

  </div>

<%= javascript_pack_tag 'message_content' %>