  <div class="post-item">

    <div class="post-name">
      <%= link_to post.user.name, user_path(post.user) %>
    </div>
  
    <div class="post-content">
      <%= post.content %>
    </div>

    <div class="post-time">
      <%= post.created_at.to_s(:datetime_jp) %>
    </div>

    <div class="post-favorites-<%= post.id %>">
      <%= render 'favorites/btn', post: post, current_user: current_user %>
    </div>

      <%= link_to "削除", post, method: :delete, data: { confirm: "この投稿を削除しますか？" }, class: 'post-delete' %>

  </div>