  <div class="post-item">
    <div class="post-item-user">
      <div class="post-item-user-icon">
        <% if post.user.icon == nil %>
          <%= image_tag '/user_icon/user_default.jpg' %>
        <% else %>
          <%= image_tag post.user.icon %>
        <% end %>
      </div>
      <div class="post-item-user-name">
        <%= link_to post.user.name, user_path(post.user) %>
      </div>
    </div>
  
    <div class="post-item-main">
      <div class="post-item-main-content">
        <%= post.content %>
      </div>
      
      <% if post.image.file != nil %>
        <div class="post-item-main-image">
          <%= image_tag post.image.to_s, size: 200 %>
        </div>
      <% end %>
    </div>

    <div class="post-item-time">
      <%= post.created_at.to_s(:datetime_jp) %>
    </div>

    <div class="post-favorites-<%= post.id %>">
      <%= render 'favorites/btn', post: post, current_user: current_user %>
    </div>

  </div>