<div class="search-form-right">
  <%= render 'search/form' %>
</div>

<div class="rightbar-user">
  <div class="rightbar-user-icon">
    <% if current_user.icon.file == nil %>
      <%= image_tag '/user_icon/user_default.jpg' %> 
    <% else %>
      <%= image_tag current_user.icon.to_s %>
    <% end %>
  </div>
  <div class="rightbar-user-name">
    <%= "#{current_user.name}" %>
  </div>
  <div class="rightbar-user-content">
    <%= "#{current_user.content}" %>
  </div>

  <div class="rightbar-user-edit">
    <%= link_to "プロフィールを編集", edit_user_path(current_user) %>
  </div>
</div>