<!DOCTYPE html>
<html>
  <head>

    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
        <% if logged_in? %>
          <input type="hidden" id="user_id" data-user-id="<%= current_user.id %>">
              <div class="leftbar">
                <%= render 'layouts/leftbar' %>
              </div>
              <div class="rightbar">
                <%= render 'layouts/rightbar' %>
              </div>
              <div class="main">
                <%= yield %>
              </div>
          <% else %>
            <%= yield %>
        <% end %>
  </body>
</html>
